body {
  margin: 50px;
  background-color: lightblue;
}

#rock {
  height: 200px;
  width: 250px;
}

#scissors {
  height: 200px;
  width: 250px;
}

#paper {
  height: 200px;
  width: 200px;
}

#scroll_box {
  height: 300px;
  width: 250px;
  border: 1px solid black;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
}

#clear {
  margin-top: 10px;
}

.tally_box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  align-self: flex-start;
  padding: 10px;
}

.tally_text {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-self: flex-start;
}
/* I hate styling */
#stats_container {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: stretch;
  height: 500px;
}

.pic_box {
  display: flex;
  justify-content: space-evenly;
}